<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logopetstep"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logopetstep"
        android:supportsRtl="true"
        android:theme="@style/Theme.PetStep"
        tools:targetApi="31">

        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}"/>

        <activity
            android:name=".MapsActivityPaseador"
            android:exported="false"
            android:label="@string/title_activity_maps_paseador" />
        <activity
            android:name=".ProfilePhotoPaseadorActivity"
            android:exported="false" />
        <activity
            android:name=".PeticionesActivity"
            android:exported="false" />
        <activity
            android:name=".HomeWalkerActivity"
            android:exported="true" />
        <activity
            android:name=".PerfilActivity"
            android:exported="false" />
        <activity
            android:name=".RastreoActivity"
            android:exported="false" />
        <activity
            android:name=".MascotasActivity"
            android:exported="false" />
        <activity
            android:name=".HistorialServiciosActivity"
            android:exported="false" />
        <activity
            android:name=".ProfilePhotoActivity"
            android:exported="false" />
        <activity
            android:name=".PerfilPaseadorActivity"
            android:exported="false" />
        <activity
            android:name=".CalificarActivity"
            android:exported="false" />
        <activity
            android:name=".PaseoActivity"
            android:exported="false" />
        <activity
            android:name=".HomeOwnerActivity"
            android:exported="true" />
        <activity
            android:name=".SelectionActivity"
            android:exported="false" />
        <activity
            android:name=".RegistroActivity"
            android:exported="false" />
        <activity
            android:name=".IniciarSesionActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.petstep.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>
